{% extends 'index.html' %}

{% block content %}
    <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">Available Hosts</h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Items -->
          {% for host in hosts %}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-{{host.id}}"
              >
                {{host.name}}  --  {{host.server}}:{{host.port}}
              </button>
            </h2>
            <div
              id="question-{{host.id}}"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                <ul class="list-group list-group-flush">
                {% for status in statuses %}
                  {% if status.server_id.id == host.id %}
                  <li class="list-group-item"><span class="fw-bold">ID:</span> {{status.server_id.id}}</li>
                  <li class="list-group-item"><span class="fw-bold">Status:</span> {{status.status}}</li>
                  <li class="list-group-item"><span class="fw-bold">Response code:</span> {{status.response_code}}</li>
                  <li class="list-group-item"><span class="fw-bold">URL:</span> {{status.url}}</li>
                  <li class="list-group-item"><span class="fw-bold">Content-type:</span> {{status.content_type}}</li>
                  <li class="list-group-item"><span class="fw-bold">Content-length:</span> {{status.content_length}}</li>
                  <li class="list-group-item"><span class="fw-bold">Last check:</span> {{status.timestamp}}</li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock content %}
